body {
  font-family: "Roboto Slab", serif;
}
.strip {
  height: 500px;
  background-image: url(images\roomprozdoor.jpg);
  background-color: brown;
}

.accordion-header .accordion-button {
  color: #262262 !important;
  background-color: #fbb040;
  font-size: x-large;

  padding-left: 80px;
}
.accordion-header .accordion-button:not(.collapsed) {
  background-color: #262262;
  color: #fbb040 !important;
}
