body {
  font-family: "Roboto Slab", serif;
  background: rgb(81, 80, 82);
}
main {
  min-height: 650px;
  background: rgb(81, 80, 82);
}
h2 {
  font-family: "Pattaya", "Henny Penny";
  color: #fbb040;
  font-size: 3em;
}
main h4 {
  color: #262262;
  font-weight: bolder;
}
main img {
  height: 180px;
  transition: 500ms;
}
.img :hover {
  transform: scale(1.2);
}

.video{
  min-height: 250px;
  background: rgb(81, 80, 82);
}
.frame :hover {
  height: 480px;
  transition: 500ms;
}

.lightbox {
  min-height: 400px;
  background-color: rgba(255, 228, 196, 0.349);
}
