body {
  font-family: "Roboto Slab", serif;
}
.mobileHomePic {
  display: none;
  min-height: 450px;
  background-color: rgb(26, 36, 81);
  /* background-image: url("C:\html\‏‏project1 - 20_10\images\airport2.jpg"); */
}
.slider {
  background: silver;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.slider .carousel-item {
  min-height: 550px;
  background-position: center;
  background-size: cover;
}
main {
  min-height: 500px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&0+0,0.8+15,1+19,1+81,0.8+85,0+100;Blue+Two+Sided+Transparent */
  background: -moz-linear-gradient(
    top,
    rgba(30, 87, 153, 0) 0%,
    rgba(30, 87, 153, 0.8) 15%,
    rgba(30, 87, 153, 1) 19%,
    rgba(30, 87, 153, 1) 20%,
    rgba(41, 137, 216, 1) 50%,
    rgba(30, 87, 153, 1) 80%,
    rgba(30, 87, 153, 1) 81%,
    rgba(30, 87, 153, 0.8) 85%,
    rgba(30, 87, 153, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(30, 87, 153, 0) 0%,
    rgba(30, 87, 153, 0.8) 15%,
    rgba(30, 87, 153, 1) 19%,
    rgba(30, 87, 153, 1) 20%,
    rgba(41, 137, 216, 1) 50%,
    rgba(30, 87, 153, 1) 80%,
    rgba(30, 87, 153, 1) 81%,
    rgba(30, 87, 153, 0.8) 85%,
    rgba(30, 87, 153, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(30, 87, 153, 0) 0%,
    rgba(30, 87, 153, 0.8) 15%,
    rgba(30, 87, 153, 1) 19%,
    rgba(30, 87, 153, 1) 20%,
    rgba(41, 137, 216, 1) 50%,
    rgba(30, 87, 153, 1) 80%,
    rgba(30, 87, 153, 1) 81%,
    rgba(30, 87, 153, 0.8) 85%,
    rgba(30, 87, 153, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */
}
/* main .bg-image {
  background-image: url(images/Clock_Tower_-_Palace_of_Westminster\_London_-_May_2007.jpg);
  background-position: center;
  background-size: cover;
} */
main {
  min-height: 500px;
}
main h2 {
  color: #262262;
  background: #fbb040;
  text-shadow: #3e6bca 2px 3px 1px;
  color: #262262;
  background: #fbb040;
}

main .banner img {
  margin-top: -39px;
  height: 320px;
}
.carousel-inner{
 
  font-weight: bolder;
}
 
@media (max-width: 988px) {
  .mobileHomePic {
    display: block;
  }
}
